* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3baa5aa;
}

.start-container {
  min-width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 6px;
}
h1 {
  font-size: 18px;
  text-align: center;
}
p {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.star-item {
  margin-top: 20px;
  text-align: center;
}

.input-item {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-item textarea {
  height: 80px;
  width: 50%;
  padding: 10px;
}
.input-item button {
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid gray;
  background-color: #6262f4;
  color: #fff;
}
